body{
 display: grid;
 place-items: center;
 height: 100vh;
 color: blue;



  
}select{

    color: blue;
    text-align: center;
}
button{
color: aqua;
background-color: blueviolet;


}
resultado{

    background-color: blue;
}
